.table-section {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ag-theme-quartz-dark .ag-header-cell-text {
    width: 100%;
}
.ag-theme-quartz-dark .ag-header-cell {
    text-align: center;
}